{%extends 'base.html'%}

{%block title%}
    {{post.title}}
{%endblock%}

{%block content%}
<div>
    <h1>{{post.title}}</h1>
    <img src="{{ post.image.url }}" alt="">

    <h6>Created on {{post.updated}} by {{post.author}}</h6>
    <p>{{post.body}}</p>
</div>
{% with comments.count as total_comments %}
    <h2>{{ total_comments }} comment{{ total_comments|pluralize }}</h2>
{% endwith %}


<div class="comment-form-wrap pt-5">
                    <h3 class="mb-5">Leave a comment</h3>
                    <form action="#" class="p-3 p-md-5 bg-light" method="post">
                      <div class="form-group">
                         {%csrf_token%}
                      </div>
                      <div class="form-group">
                            {{comment_form.name.label}}
                               {{comment_form.name}}
                      </div>
                      <div class="form-group">
                          {{comment_form.body.label}}
                               {{comment_form.body}}
                      </div>
                      <div class="form-group">
                        <input type="submit" value="Post Comment" class="btn py-3 px-4 btn-primary">
                      </div>

                    </form>
</div>
{% for comment in comments %}
        <h4>{{comment.name}}</h4>
        <h5>{{comment.body}}</h5>
{%endfor%}
{%endblock%}