{%extends 'base.html'%}
{% block title %}
    tags-{{tags.name|title}}
{%endblock%}

{%block content%}
    {% for post in tags.tag_post_set.all %}
    <div class="row pt-md-4">
        <div class="col-md-12">
            <div class="blog-entry ftco-animate d-md-flex">
                <a href="{{post.get_absolute_url}}" class="img img-2" style="background-image: url({{post.image.url}});"></a>
                <div class="text text-2 pl-md-4">
                    <h3 class="mb-2"><a href="{{post.get_absolute_url}}">{{post.title}}</a></h3>
                    <div class="meta-wrap">
                        <p class="meta">
                            <span><i class="icon-calendar mr-2"></i>{{post.created}}</span>
                            <span><a href="single.html"><i class="icon-folder-o mr-2"></i>Travel</a></span>
                            <span><i class="icon-comment2 mr-2"></i>
                        {% with comments.count as total_comments %}
                                {{ total_comments }} comment{{ total_comments|pluralize }}
                        {% endwith %}
                        </span>
                        </p>
                    </div>
                    <p class="mb-4">A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
                    <p><a href="{{post.get_absolute_url}}" class="btn-custom">Read More <span class="ion-ios-arrow-forward"></span></a></p>
                </div>
            </div>
        </div>

    </div>
{% endfor %}
{%endblock%}